body
  	{
  	background-color: #7A49C7;
  	}
  	.outer
  	{
  		background-color: #F8F8F8;
  		height: 100%;
  		width: 100%;
  		border-radius: 15px;
  		padding: 12px 15px;
  		position: relative;
  		max-height: 430px;

  	}
  	#head
  	{
  		color: #878787;
  	}
  	.pass 
  	{
  		color: #878787;
  	}
    #chkbox 
    {
    	accent-color: #FCC506;
    }
    .bottom
    {
    	color: #878787;
    	position: absolute;
    	bottom: 10px;
    	width: calc( 100% - 30px);
    	
    }
    #first
    {
    	display: flex;
    	justify-content: center;
    	flex-direction: column;
    	align-items: center;
      height: 100vh;
    }
    #first img
    {
    	width: 150px;
    }

    @media(max-width: 900px)
    {
    	#first
    {
        height: auto;
    }
    #first img
    {
    	height: 80px;
    	width: 80px;
    	margin: 10px;
    }
    h2
    {
    	font-size: 22px;
    }	
    h4
    {
    	font-size: 18px;
    }
    
    }